# Visual Studio
.vs/
*.suo
*.user
*.userprefs

# Build outputs
[Bb]in/
[Oo]bj/
*.exe
*.dll
*.pdb
*.cache

# Angular
node_modules/
dist/
*.js.map

# Runtime files
*.runtimeconfig.json
appsettings.Development.json