<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
    <!-- Brand Logo -->
    <a class="navbar-brand" href="#">
      <i class="bi bi-cup-straw" style="color: rgb(80, 184, 72)"></i>
      <span class="text-header">Vending</span> Machine App!
    </a>

    <!-- Navbar Toggle Button (Fixing missing button) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto"> <!-- Changed ms-auto to mx-auto -->
        <li class="nav-item">
          <a class="nav-link" href="/" [routerLink]="['vending-machine']">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [routerLink]="['report']">
            <i class="bi bi-file-earmark-text"></i> Purchase History
          </a>
        </li>
      </ul>

      <!-- Welcome Text -->
      <span class="intro-text">
        <i class="bi bi-emoji-smile fs-5 me-2"></i>
      <span>Welcome to the Vending Machine App</span>
      </span>
 
      
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
